h1{
	font-weight: 400;
	font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
	letter-spacing: 1px;
	text-align: center;
}

p{
	text-align: justify;
	line-height: 24px;
	word-spacing: 2px;
	font-family: sans-serif;
}

h2{
	text-align: left;
}
.fr{
	float: right;
	border: solid 4px green;
}


.fr figcaption {
	background-color: #222;
	color: #fff;
	font: sans-serif;
	padding: 3px;
	text-align: center;
}
.fl{
	float: left;
	border: solid 4px green;
}


.fl figcaption {
	background-color: #222;
	color: #fff;
	font: sans-serif;
	padding: 3px;
	text-align: center;
}
.fr{
	float: right;
	border: solid 4px green;
}


.fr figcaption {
	background-color: #222;
	color: #fff;
	font: sans-serif;
	padding: 3px;
	text-align: center;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:active{
	color: orange;
}
a:visited{
	color: purple;
}
ul{
list-style: none;
}
